### SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

### Using SQLite with Python

1. Import SQLite module
   - import sqlite3

2. Connect to a Database (this creates a new file if it doesn't exist.)
   - conn = sqlite3.connect("mydatabse.db")     
   - cursor = conn.cursor()
   *conn = connection to your database*
   *cursor = used to execute SQL commands*

3. Create a Table
    - cursor.execute('''
        CREATE A TABLE IF NOT EXISTS employees(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')

4. Insert Data
   - cursor.execute('''
        INSERT INTO employees(name, age, department)
        VALUES (?, ?, ?)
   ''', ('John', 34 'Doctor'))

   - conn.commit() # VERY IMPORTANT as it saves data

5. Query Read
    - cursor.execute('select * from employees')
    - rows = cursor.fetchall()
    
    - for row in rows:
    - print(row)

6. Update Data
    - cursor.execute("""
        UPDATE employees
        SET age = ?
        WHERE id = ?
    """, (35, 1))

    - conn.commit()

7. Delete Data
- cursor.execute("DELETE FROM employees WHERE id = ?", (1,))
- conn.commit()

8. Close the connection
    - conn.close()

In [2]:
import sqlite3

In [3]:
## connect to an SQLite database

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute("DROP TABLE IF EXISTS employees")
connection.commit()

In [6]:
## create a table

cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key autoincrement,
        name Text Not Null,
        age Integer,
        department text)
''')

## commit the changes

connection.commit()

In [7]:
cursor.execute('''
    Select * from employees
'''
)

In [8]:
## insert the data in table

cursor.execute('''
    insert into employees(name, age, department)
               values('Anu',34,'Data Scientist')
''')

cursor.execute('''
    insert into employees(name,age, department)
               values('Puneet',34,'Data engineer')
''')

cursor.execute('''
    insert into employees(name,age,department)
               values('Charlie',36, 'Doctor')
''')

## save changes
connection.commit()

In [9]:
### query the data from the table

cursor.execute('select * from employees')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Anu', 34, 'Data Scientist')
(2, 'Puneet', 34, 'Data engineer')
(3, 'Charlie', 36, 'Doctor')

In [10]:
## update data in the table

cursor.execute('''
    update employees
    set age = 35
    where name = 'Puneet'              
''')

connection.commit()

In [11]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Anu', 34, 'Data Scientist')
(2, 'Puneet', 35, 'Data engineer')
(3, 'Charlie', 36, 'Doctor')

In [12]:
## delete data from table

cursor.execute('''
    delete from employees 
    where name = 'Anu'
''')

connection.commit()

In [13]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Puneet', 35, 'Data engineer')
(3, 'Charlie', 36, 'Doctor')

In [20]:
cursor.execute("DROP TABLE IF EXISTS sales_data")
connection.commit()

In [22]:
cursor.execute("DROP TABLE IF EXISTS sales")
connection.commit()

In [23]:
import sqlite3

connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

# Create table with safe column name
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sale_date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
''')

# Insert data as tuples (valid dates)
sales_data = [
    ('2023-12-01', 'product1', 100, 'North'),
    ('2023-03-13', 'product2', 600, 'South'),
    ('2023-05-17', 'product3', 700, 'North'),
    ('2023-11-01', 'product4', 200, 'East'),
    ('2023-02-19', 'product5', 1000, 'West')
]

cursor.executemany('''
    INSERT INTO sales(sale_date, product, sales, region)
    VALUES (?, ?, ?, ?)
''', sales_data)

connection.commit()

# Query and print
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

(1, '2023-12-01', 'product1', 100, 'North')
(2, '2023-03-13', 'product2', 600, 'South')
(3, '2023-05-17', 'product3', 700, 'North')
(4, '2023-11-01', 'product4', 200, 'East')
(5, '2023-02-19', 'product5', 1000, 'West')

In [24]:
## close connection

connection.close()